@import url(./bread/bread.css);
@import url(./ham_bread/ham_bread.css);
@import url(./pizza/pizza.css);

body {
    background-color: antiquewhite;
}

img {
    width: auto;
    height: 500;
    text-align: center;
}

.index_title {
    text-align: center;
}
