@import url(./bread/bread.css);
@import url(./ham_bread/ham_bread.css);
@import url(./pizza/pizza.css);
@import url(./index/index.css);

/* aplicar siempre en los proyectos */
* { 
    box-sizing: border-box;
    /* fija el padding y el margen para que no se muevan */
    padding: 0; 
    margin: 0;
}

body {
    background-color: antiquewhite;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}

.container img{
    /* así solo modificamos un valor y el otro se cambiara automagicamente */
    width: auto; 
    height: 500;
    
}

